<div class="container" ng-controller="HomeCtrl">
  <div class="row">
    <div class="eight columns offset-by-two">
      <p id="instructions">To start using the <strong>WaitStaff Calculator</strong>, just click on <strong>NEW MEAL</strong> above. Enter in the Meal Price, Tax Rate, and Tip Percentage, and the calculator will automatically show the Subtotal, Tip, and Total on the righthand side. Then, you can click on <strong>MY EARNINGS</strong> to view the runnning totals for your shift. To return to these instructions, just click on <strong>HOME</strong>. Enjoy!</p>
    </div>
  </div>
</div>
