<div class="row">
  <div class="six columns details">
    <div class="heading">
      <h4>Enter the Meal Details</h4>
    </div>

    <div id="form">
      <form class="meal_details" name="myForm" ng-submit="submit()" novalidate>
        <fieldset>

          <label for="meal_price">Base Meal Price: $</label>
          <input name="meal_price" ng-model="meal_price" ng-pattern="/^\d+$/" required type="number"/>

          <label for="tax_rate">Tax Rate: %</label>
          <input name="tax_rate" ng-model="tax_rate" ng-pattern="/^\d+$/" required type="number"/>

          <label for="tip_percentage">Tip Percentage: %</label>
          <input name="tip_percentage" ng-model="tip_percentage" ng-pattern="/^\d+$/" required type="number"/>

        </fieldset>

        <span class="error" ng-if="myForm.$submitted && myForm.meal_price.$error.required"/><input id="submit" type="submit" value="Submit"/>

        <input id="cancel" ng-click="cancel()" type="submit" value="Cancel">

      </form>

    </div>
  </div>

  <div class="six columns charges">

    <div class="heading">
      <h4>
        Customer Charges</h4>
    </div>
    <div class="customerCharges">
      <p>
        Subtotal:{{ subtotal | currency }}
      </p>
      <p>
        Tip:{{ tip | currency }}
      </p>
      <p>
        Total:{{ total | currency }}
      </p>
    </div>
  </div>
</div>
